<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>设计稿</title>
    <link rel="stylesheet" href="css/design.css" type="text/css">
  </head>

  <body>
    <header>
      <div id="header-container">
        <p id="logo">Logo</p>
        <nav id="header-nav">
          <ul>
            <li>
              <a href="">Github</a>
            </li>
            <li>
              <a href="">Register</a>
            </li>
            <li>
              <a href="">Login</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div id="banner">
      <p id="banner-page">
        <span>1</span>
        <span id="banner-page-current">2</span>
        <span>3</span>
        <span>4</span>
      </p>
    </div>

    <nav id="navi-main">

      <div>
        <span id="navi-main-current">HOME</span><span>PROFILE</span><span>ABOUT</span>
      </div>
    </nav>

    <div class="hr"></div>

    <div id="content">
      <div class="item" id="item-1">This is Content 1</div>
      <div class="item" id="item-2">MaybeContent 2</div>
      <div class="item" id="item-3">Content 3</div>
      <div class="item" id="item-4">Content 4</div>
      <div class="item" id="item-5">Content 5</div>
      <div class="item" id="item-6">Content 6</div>
      <div class="item" id="item-7">Content 7</div>
      <div class="item" id="item-8">Content 8</div>
      <div class="item" id="item-9">Content 9</div>
      <div class="item" id="item-10">Content 10</div>
    </div>

    <footer>
      <p>© 2018 ife.baidu.com</p>
    </footer>
  </body>

</html>